/* ----- style.css ----*/ 

svg path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: 0.25;
}

svg path.active {
    fill: red;
}

svg path.home {
    fill: gold
}

svg path.footer {
    fill: white
}
